<div class="small-6 small-centered columns" style="padding-top: 150px;">
  <% unless @next_event == nil %>
    <% if @now.between?(@next_event.start_time, @next_event.end_time) %>
      <h1>Yes!</h1>
      <h3>Hooray!</h3>
    <% elsif @next_event.start_time.today? %>
      <h1>Soon.</h1>
      <h3>Witchwood is today, but it hasn't started yet.</h3>
    <% elsif @next_event.start_time.between?(@now, @now+6.days) %>
      <h1>Almost.</h1>
      <h3>Witchwood is this <%= @next_event.start_time.strftime("%A") %>!</h3>
    <% else %>
      <h1>No.<h1>
      <h3>Witchwood is <%= @next_event.start_time.strftime("%B %-d") %>.</h3>
    <% end %>
  <% else %>
    <h1>No.</h1>
    <h3>Witchwood will return.</h3>
  <% end %>
</div>
